body{
    margin: 0;
    padding: 0;
    line-height: 0.5;
    background: linear-gradient(to left,#7808f0,#06bdf5);
}
.calci{
    
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    transition: 0.25px;
}
#display{
    border:none;
    background: white;
    border-radius: 30px;
    width: 245;
    font-size: 20;
    font-family: sans-serif;
    font-weight: 300;
    height: 60;
    margin: auto;
    border: 2px solid white;
}
.btnDesign
{
    width: 55;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 300px;
    margin: 1,5;
    cursor: pointer;
}
.btnDesign:hover
{
    background: yellowgreen;
}
.operatordesign
{
    width: 55;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 300px;
    margin: 1,5;
    cursor: pointer;
}
.operatordesign:hover{
    background: #00d9ff;
}
#zero
{
    width: 116;
    height: 55;
    padding-top: -1;
    border: none;
    font-family: sans-serif;
    font-size: 20;
    font-weight: 300;
    border-radius: 300px;
    margin: 1,5;
    cursor: pointer; 
}
#zero:hover{
background: yellowgreen;
}